<a href="https://colab.research.google.com/github/jayU000/python202206/blob/main/pythonbasic02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# input 입력

input()

gfsag

'gfsag'

In [ ]:
id = input('아이디를 입력하세요')

아이디를 입력하세요fhakjd

In [ ]:
id = input('아이디를 입력하세요')
print(f'{id}님 환영합니다.')

아이디를 입력하세요dfg
dfg님 환영합니다.

In [ ]:
age = input('당신의 나이를 입력하세요')
print(f'당신의 나이는 {age}살 입니다.')

당신의 나이를 입력하세요12
당신의 나이는 12입니다.

In [ ]:
age = int(input('당신의 나이를 입력하세요'))
print(f'당신의 내년 나이는 {age+1}살 입니다.')

당신의 나이를 입력하세요21
당신의 내년 나이는 22살 입니다.

In [ ]:
age = int(input('당신의 나이를 입력하세요'))
print(type(age))
print(f'당신의 내년 나이는 {age+1}살 입니다.')

# input 언제나 항상 입력받은 모든 데이터를 문자 취급한다.
# 따라서 숫자로 사용을 하고자 할 때는 형변환 casting을 해주어야 계산이 가능해진다.

당신의 나이를 입력하세요12
당신의 내년 나이는 13살 입니다.

In [ ]:
# 컬렉션 list tuple dict set                   *** dataframe from pandas
#        <------ 기본 ------>                            심화
#         []   ()   {}

# 여러 개의 데이터를 담아두는 자료형

# 리스트 list
# 1. 리스트는 []를 사용하여 만든다.
# 2. 리스트는 자료형을 혼합하여 저장할 수도 있다. -> 프로그래밍에서 오류가 생길 확률이 증가해서 단점으로도 작용한다.
# 3. 리스트는 인덱싱과 슬라이싱이 가능하다.
# 4. 리스트는 삽입/삭제/수정이 가능하다.


# 리스트를 사용하면 2,4,6,8,10... 여러 데이터를 모음을 간단하게 표현할 수 있다.
num = [2,4,6,8,10]
print(num)
print(type(num))

li1 = [1,2,'영희', '철수']
print(li1)

[2, 4, 6, 8, 10]
<class 'list'>
[1, 2, '영희', '철수']

In [ ]:
# 리스트에서의 인덱싱과 슬라이싱

num = [2,4,6,8,10]
print(num[0])
print(num[-1])
print(num[0]+num[-1])

2
10
12

In [ ]:
li1 = [1,2,'a','b',[1,2,3]]

print(li1[-1])
print(li1[-1][0])

[1, 2, 3]
1

In [ ]:
# 리스트에서의 슬라이싱

num = [2,4,6,8,10]

print(num[0:3])   # [start:stop:step]  스텝은 생략하면 1씩 증감 
print(num[:3])    # 시작을 생략하면 처음부터 시작하고, 끝을 생략하면 마지막 요소까지

[2, 4, 6]
[2, 4, 6]

In [ ]:
# 리스트에서의 연산

a = [1,2,3]
print(a * 3)


# 리스트의 길이(갯수)

num = [2,4,6,8,10]
print(len(num))


# 4. 리스트는 삽입/삭제/수정이 가능하다.

# 수정
num = [2,4,6,8,10]
num[0] = 0
print(num)

# 삭제
del num[0]
print(num)
del num[2:]
print(num)
num = [2,4,6,8,10]
num.pop()       # 마지막 항을 하나씩 제거, 괄호 안에 인덱스 넣어주면 그 인덱스값을 가진 요소를 삭제
print(num)

# 삽입 append, insert
a = [1,2,3]
print(a)
a.append(4)
print(a)
a.append('글자')
print(a)
a.insert(0,0)   # (위치, 값)
print(a)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
5
[0, 4, 6, 8, 10]
[4, 6, 8, 10]
[4, 6]
[2, 4, 6, 8]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, '글자']
[0, 1, 2, 3, 4, '글자']

In [ ]:
# 튜플 tuple
# 1. 튜플은 ()를 사용하여 만든다.
# 2. 튜플도 자료형을 혼합하여 저장할 수도 있다. -> 프로그래밍에서 오류가 생길 확률이 증가해서 단점으로도 작용한다.
# 3. 튜플도 인덱싱과 슬라이싱이 가능하다.
# 4. 튜플은 삽입/삭제/수정이 불가능하다.  immutable
# 5. 튜플은 한 개의 요소로 만들 때는 괜히 ,를 넣는다

# 1. 튜플은 ()를 사용하여 만든다.
t1 = (1,2,3)
print(type(t1))

# 2. 튜플도 자료형을 혼합하여 저장할 수도 있다. -> 프로그래밍에서 오류가 생길 확률이 증가해서 단점으로도 작용한다.
t2 = (1,2,'a','b')
print(t2)

# 3. 튜플도 인덱싱이 가능하다.
print(t2[0])
print(t2[-1])

# 3. 튜플도 슬라이싱이 가능하다.
print(t2[2:])
print(t2[:2])

# 4. 튜플은 삽입/삭제/수정이 불가능하다.  immutable
#t2.append('c')
#t2.pop()
#t2[0] = 0
print(len(t2))

# 5. 튜플은 한 개의 요소로 만들 때는 괜히 ,를 넣는다
t3 = (1)
print(t3)
print(type(t3))
t4 = (1,)
print(t4)
print(type(t4))

<class 'tuple'>
(1, 2, 'a', 'b')
1
b
('a', 'b')
(1, 2)
4
1
<class 'int'>
(1,)
<class 'tuple'>

In [ ]:

bts = ['정국','진','뷔','RM','지민','제이홉','슈가']
print(bts)

bts.append('길동')
print(bts)

bts.pop()
print(bts)

nums = [1,2,3,4,5]
print(f'nums 리스트에서의 최대값은 {max(nums)}입니다')
print(f'nums 리스트에서의 최소값은 {min(nums)}입니다')


print(f'nums 리스트에서의 평균은 {sum(nums)/len(nums)}입니다')

price = ['20220602', 100, 300, 200]

print(price[1:])

nums = [1,2,3,4,5,6,7,8,9,10]
print(nums[1::2])
print(nums[::-1])

s = '삼성 엘지 sk'
ss = '삼성/엘지/sk'
li1 = ss.split()
li2 = ss.split('/')
print(li1)
print(li2)

for i in

['정국', '진', '뷔', 'RM', '지민', '제이홉', '슈가']
['정국', '진', '뷔', 'RM', '지민', '제이홉', '슈가', '길동']
['정국', '진', '뷔', 'RM', '지민', '제이홉', '슈가']
nums 리스트에서의 최대값은 5입니다
nums 리스트에서의 최소값은 1입니다
nums 리스트에서의 평균은 3.0입니다
[100, 300, 200]
[2, 4, 6, 8, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
['삼성', '엘지']

In [ ]:
# 딕셔너리 dict
# 1. 딕셔너리는 {}를 사용하여 만든다.
# 2. 딕셔너리는 자료형을 혼합하여 저장할 수도 있다. -> 프로그래밍에서 오류가 생길 확률이 증가해서 단점으로도 작용한다.
# 3. 딕셔너리는 인덱싱과 슬라이싱이 불가능하다.
# 4. 딕셔너리는 삽입/삭제/수정이 가능하다.  mutable
# 5. 딕셔너리는 키값과 밸류값의 쌍으로 구성된다. (자바의 맵과 유사, JS의 JSON)

# 1. 딕셔너리는 {}를 사용하여 만든다.
a = {1:'hello', 2:'hi',3:'hey'}
print(type(a))
print(a)

# 2. 딕셔너리는 자료형을 혼합하여 저장할 수도 있다.
b = {'name':'Alice', 'age':21, 'gender':'F'}
print(b)

# 3. 딕셔너리는 순서가 없기 때문에 indexing과 slicing이 불가능하다.
# 딕셔너리는 순서가 없기 때문에 입력순서와 출력순서가 다를 수 있다.
# 따라서 키 값으로만 밸류값을 꺼낼 수 있다.
#b[0]         # 불가능
print(b['name'])     # 가능

# 4. 딕셔너리는 삽입/삭제/수정이 가능하다.  mutable
print(b)
del b['age']
print(b)
b['age2'] = 31
print(b)
b['age2'] = 25
print(b)

# 딕셔너리 관련 많이 사용되는 함수들 

# keys
print(b.keys())

# values
print(b.values())
# items
print(b.items())

<class 'dict'>
{1: 'hello', 2: 'hi', 3: 'hey'}
{'name': 'Alice', 'age': 21, 'gender': 'F'}
Alice
{'name': 'Alice', 'age': 21, 'gender': 'F'}
{'name': 'Alice', 'gender': 'F'}
{'name': 'Alice', 'gender': 'F', 'age2': 31}
{'name': 'Alice', 'gender': 'F', 'age2': 25}
dict_keys(['name', 'gender', 'age2'])
dict_values(['Alice', 'F', 25])
dict_items([('name', 'Alice'), ('gender', 'F'), ('age2', 25)])

In [ ]:
# 셋 set
# 1. 셋은 {}를 사용하여 만든다.
# 2. 셋은 자료형을 혼합하여 저장할 수도 있다. (파이썬 장점이자 단점)    -> 프로그래밍에서 오류가 생길 확률이 증가해서 단점으로도 작용한다.
# 3. 셋은 인덱싱과 슬라이싱이 불가능하다. 순서가 없다 uordered
# 4. 셋은 삽입/삭제/수정이 가능하다. mutable
# 5. 셋은 중복값을 허용하지 않는다.


# 1. 셋은 {}를 사용하여 만든다.
s1 = {1,2,3}
print(type(s1))

s2 = set("hello")
print(s2)

# 2. 셋은 자료형을 혼합하여 저장할 수도 있다. (파이썬 장점이자 단점)
s4 = {1,2,3,'1','hi'}
print(s4)

# 3. 셋은 인덱싱과 슬라이싱이 불가능하다. 순서가 없다 uordered
# s4[0] -> (x)
s5 = {1,1,1,2,2,3,'1','하나'}
l5 = list(s5)
print(l5)

# 4. 셋은 삽입/삭제/수정이 가능하다. mutable 

# 삽입
s6 = {1,1,1,2,2,3,'1','하나'}
s6.add('둘')
print(s6)
# 삭제 
s6.remove(2)    # 삭제할 데이터의 값을 괄호 안에 
print(s6)
# 수정    삭제 -> 삽입    or    리스트로 강제 형변환 -> 수정 후 다시 형변환


# 5. 셋은 중복값을 허용하지 않는다.
s3 = {1,1,1,2,2,3}
print(s3)

<class 'set'>
{'e', 'l', 'o', 'h'}
{1, 2, 3, '1', 'hi'}
[1, 2, 3, '1', '하나']
{1, 2, 3, '1', '둘', '하나'}
{1, 3, '1', '둘', '하나'}
{1, 2, 3}

In [ ]:
# if 

# if 조건식:
#   첨인 경우
# else:
#   거짓인 경우

# if문 예제 1
money = 2000
if money >= 3000 :
  print('택시 타라')  # true case
else :
  print('걸어 가라')  # false case

money = 2000
card = True
if money >= 3000 or card:   # or: 주어진 조건 중 하나만 true면 OK
  print('택시 타라')  # true case
else :
  print('걸어 가라')  # false case


# 조건문 사용 방법 1
print(1 in [1,2,3])
print(4 in [1,2,3])


# if문 예제 2
pocket = ['paper', 'phone', 'money']
card = True

if 'money' in pocket :
  print('택시 타라')  # true case
else :
  if card:
    print('버스 타라')  # true case
  else :
    print('걸어 가라')  # false case
# 분기가 여러개일 경우 if문 안에 if문을 중첩하여 사용할 수는 있지만
# 권장하지 않는다.
# if 안에 if문을 만드는 것은 가독성이 떨어져서 아주 좋지 않은 방법이다.
# 따라서 분기가 여러 개일 경우 elif를 사용하자


# if문 예제 3-1
pocket = ['paper', 'phone']
card = True
if 'money' in pocket :
  print('택시 타라')  # true case
elif card:
  print('버스 타라')  # true case
else :
  print('걸어 가라')  # false case

# if문 예제 3-2
pocket = ['paper', 'phone']
card = False
if 'money' in pocket : print('택시 타라')  # true case
elif card : print('버스 타라')  # true case
else : print('걸어 가라')  # false case


# if문 예제 4-1
score = 90
if score >= 60 :
  print("합격")
else : 
  print("불합격")

# if문 예제 4-2
if score >= 60 :
  print("합격")
else : 
  print("불합격")

# if문 예제 4-3   # 조건부 표현식 : 한 줄로 조건식을 표현
print("합격")     if score >= 60      else print("불합격")
# 참의 경우          조건식              거짓의 경우


if True :
  print('1')
  print('2')
else :
  print('3')
print('4')

걸어 가라
택시 타라
True
False
택시 타라
버스 타라
걸어 가라
합격
합격
합격
1
2
4

In [ ]:
a = int(input('숫자 입력'))
# if a % 2 == 1 :
#   print('홀수')
# else :
#   print('짝수')

print('홀수') if a % 2 == 1 else print('짝수')

# % 나머지 연산자로 홀수/짝수/배수를 알아낼 수 있다.

2
짝수

In [ ]:
a = int(input('숫자 입력'))

if a <= 235 : 
  print(a+20)
else :
  print(255)

숫자 입력340
255

In [ ]:
a = int(input('숫자 입력'))
result = a - 20

if result > 255:
  print(255)
elif result < 0 :
  print(0)
else :
  print(result)

a = int(input('숫자 입력')) - 20

if result > 255: print(255)
elif result < 0 : print(0)
else : print(result)

숫자 입력60
40
숫자 입력200
40

In [ ]:
# from datetime import datetime
# now = datetime.now()
# print(now)
# print(type(now.hour))

# time = input('현재 시각 :')
# h = int(time[0:2])
# m = int(time[3:])

# if now.hour == h and now.minute == m :
#   print('정각입니다')
# else :
#     print('정각이 아닙니다')

time = input('현재 시간 :')
m = int(time[3:])

if m == 0 :
  print('정각입니다')
else :
    print('정각이 아닙니다')

2022-06-02 05:57:41.379833
<class 'int'>
현재 시각 :05:57
정각입니다

In [ ]:
n1 = int(input('Enter the first number : '))
n2 = int(input('Enter the second number : '))

if n1 > n2 :
  print(n2, n1)
elif n2 > n1 :
  print(n1, n2)
else :
  print('다시 실행하세요')

Enter the first number : 3
Enter the second number : 5
3 5

In [ ]:
num = int(input('Enter the number under 20 : '))

if num >= 20 :
  print('Too high')
else : 
  print('Thank you')

Enter the number : 19
Thank you

In [ ]:
col = input('Enter your foavorite color : ')
red = ['red', 'RED', 'Red']
if col in red :
  print('"I like red too"')
else : 
  print(f"I don't like {col}, I prefer red.\" ")

Enter your foavorite color : black
I don't like black, I prefer red."

In [ ]:
age = int(input('Enter your age : '))
if age >= 18 : print("You can vote")
elif age == 17 : print("You can learn to drive")
elif age == 16 : print("You can buy lottery tickets")  
else : print("You can go Trick-or-Treating")

Enter your age : 17
You can learn to drive

In [ ]:
num = int(input('Enter the number 1, 2 or 3 : '))

if num == 1 : print('Thank you')
elif num == 2 :  print('Well done')
elif num == 3 :  print('Correct')
else : print('Error message')

In [ ]:
fn = input('What your first name? : ')
print(len(fn))

What your first name? : dndf
4

In [ ]:
word = input('Type something >>> ')
print(word.upper())

Enter the word : name
NAME

In [ ]:
ori = input('Type any word : ').lower()
pre = ori.append(ori[0])
del pre[0]

vowel = ['a','e','i','o','u','y','w']

for i in range(len(word)) :
  if word[i] in vowel and i != len(word)-1 :
    continue
  elif  word[i] in vowel and i == len(word)-1:
    word = pre + 'way'
  else : 
    word = pre + 'ay'
    break

print(result)

Type any word : way
yawway